.inputButton {
  display: flex;
  gap: 10px;
};

.formInput {
  font-size: 25px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
};

.buttonAdd {
  padding: 8px 12px;
  border: 1px solid #ccc;
  cursor: pointer;
  color: black;
};

