.taskItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
};

.deleteButton {
  border: none;
  padding: 6px 12px;
  margin-left: 12px;
  background:  grey;
  color: white;
  border-radius: 5px;
};

.checkbox {
  margin-right: 12px;
};